*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

:root {
    --accent-glow: #17313E;
}

body {
    background-color: #F9F8F6;
    color: #000000;
    line-height: 1.6;
    overflow-x: hidden;
}

/* Navigation */
.navbar {
    position: fixed;
    top: 10;
    width: 100%;
    padding: 1.5rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.logo {
    font-size: 2.7rem;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    position: relative;
    padding-left: 2.5rem;

}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-links a {
    color: #000000;
    text-decoration: none;
    font-weight: bolder;
    transition: all 0.5s ease;
    position: relative;
}

.nav-links a:hover {
    color: #40044d;
    text-decoration: underline;
}

/* my-section */
.my {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 9% 5% 5% 5%;
}

.my-content {
    padding-right: 5rem;
}

.my-img {
    flex: 1;
    text-align: center;
    position: relative;
}

.profile-img {
    box-shadow: 1px 1px 10px var(--accent-glow);
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
}

.my h1 {
    font-size: 3.8rem;
    margin-bottom: 1.5rem;
    background: linear-gradient(15deg, #000000 30%, #556c75 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.my p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    opacity: 0.9;
    max-width: 600px;
}

.cta-button {
    font-weight: 600;
    display: inline-block;
    padding: 1rem 2rem;
    box-shadow: 0 0 10px var(--accent-glow);
    background-color: #540863;
    color: #F9F8F6;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.cta-button:hover {
    transform: scale(1.05);
    
    
}

/* Skills Section */
.skills {
    padding: 3rem 0 5rem 4rem;
    background: #F9F8F6;
}

.skills-grid {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.skills-card {
    width: 350px;
    height: 200px;
    padding: 2rem;
    border-radius: 15px;
    background-color: #d1ccd2;
    box-shadow: 2px 2px 5px #2b1b3f;
    transition: all 0.5s ease;
    backdrop-filter: blur(5px);
}

.skills-card:hover {
    transform: translateY(-10px);
    border-color: var(--accent);
    box-shadow: 0 10px 30px var(--accent-glow);
}

.skills-card i{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

/* project section */
.project {
    padding: 2rem 0 5rem 4rem;
    background: #F9F8F6;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 3rem;
}

.project-cards {
    width: 350px;
    height: 200px;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 15px;
    background-color: #d1ccd2;
    box-shadow: 2px 2px 5px #2b1b3f;
    transition: all 0.5s ease;
    backdrop-filter: blur(5px);
}

.project-cards i{
    font-size: 2.5rem;
    color: var(--accent);
    margin-bottom: 1rem;
}

.project-grid a {
    color: black;
    text-decoration: none;
}

.project-cards:hover {
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0 10px 30px var(--accent-glow);
}

/* footer section */
footer {
    padding: 1rem 5%;
    border-top: 1px solid #000000;
    box-shadow: 5px 5px 12px var(--accent-glow) ;
    display: flex;
    justify-content: space-between;
}    

.social-links {
    text-align: center;
}
.social-links a{
    color: var(--text);
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.social-links a:hover {
    color: #610074;
    box-shadow: 2px 2px 5px #610074;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .my {
        flex-direction: column;
        text-align: center;
        padding-top: 8rem;
    }

    .my-content {
        padding-right: 0;
        margin-bottom: 3rem;
    }

    .profile-img {
        width: 280px;
        height: 280px;
    }

    .nav-links {
        display: none;
    }

    .logo {
        font-size: 1.5rem;
        padding-left: 2rem;
    }

   .skills-grid {
        display: grid;
        grid-template-columns: auto;
   }
   .skills {
        padding: 1rem 2rem 1rem 1rem;
   }

    footer {
        display: grid;
        grid-template-columns: auto;
    }

    .social-links {
        margin-top: 1rem;
    }
    .links {
        margin-left: -10rem;
    }

    .project-grid {
        display: grid;
        grid-template-columns: auto;
    }
    .project {
        padding: 1rem 2rem 1rem 1rem;
    }
}




